node_modules
.next
out
build
npm-debug.log*
.git
.gitignore
.env*
.dockerignore
Dockerfile*
README.md
e2e
playwright.config.ts
playwright-report
test-results
.prettierrc.json
.prettierignore
eslint.config.mjs
